.row{
    background: #ffffff;
    margin:5px 4px;
    border:2px solid #fff;
    height:40px;
    display: flex;
    align-items: center;
}

.drop-over-downward{
    border-bottom: 2px dashed #1890ff;
}

.drop-over-upward{
    border-top: 2px dashed #1890ff;
}